#left {
    float: left;
    width: 20%;
}
#center {
    float: left;
    margin-left: 5px;
    width: 55%;
}
#right {
    float: left;
    margin-left: 5px;
    width: 25%;
}
#root {
    overflow: hidden;
}
