#left {
    float: left;
    width: 20%;
}
#center {
    float: left;
    margin-left: 5px;
    width: 50%;
}
#right {
    float: left;
    margin-left: 5px;
    width: 25%;
}
#root {
    overflow: visible;
}
