#trade {
    margin: 55% auto 0 auto;
}
#trade_th {
    text-align: center;
}
.buttons_trade, .buttons_issue {
    text-decoration: none;
    outline: none;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 0 0 40px 40px rgb(255, 82, 29) inset, 0 0 0 0 rgb(255, 82, 29);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
    transition: .15s ease-in-out;
  }
  .buttons_trade:hover, .buttons_issue:hover{
    box-shadow: 0 0 10px 0 rgb(255, 82, 29) inset, 0 0 10px 4px rgb(255, 82, 29);
    color: rgb(255, 82, 29);
  }

.checked {
    box-shadow: 0 0 40px 40px rgb(113, 212, 0) inset, 0 0 0 0 rgb(113, 212, 0);
}
