#trade {
  clear: both;
}
#trade_th {
    text-align: center;
}

.buttons_trade, .buttons_issue {
    text-decoration: none;
    outline: none;
    display: inline-block;
    padding: 0px 10px;
    border-radius: 10px;
    box-shadow: 0 0 40px 40px rgb(255, 82, 29) inset, 0 0 0 0 rgb(255, 82, 29);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
    transition: .15s ease-in-out;
}
  .buttons_trade:hover, .buttons_issue:hover{
    box-shadow: 0 0 10px 0 rgb(255, 82, 29) inset, 0 0 5px 2px rgb(255, 82, 29);
    color: rgb(255, 82, 29);
    
  }

.checked {
    box-shadow: 0 0 40px 40px rgb(96, 179, 0) inset, 0 0 0 0 rgb(96, 179, 0);
}
.buttons_quantity {
  width: 60%;
}

#input_quantity {
  
  width: 40%;
}
.buttons_input_quantity {
  width: 30%;
}
.buttons_input_price {
  width: 15%;
}
#input_price {
  width: 20%;
}